<!--banner-->
<div class="banner-top">
    <div class="container">
        <h2 class="animated wow fadeInLeft" data-wow-delay=".5s">Seller Orders</h2>
        <h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a href="/">Home</a><label>/</label>Seller Orders
        </h3>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- contact -->
<div class="check-out">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Shop</th>
                    <th>Shop Location</th>
                    <th>Products</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="orders-container">

            </tbody>
        </table>
    </div>
</div>

<script>
    const ORDER_TYPE = 'seller';
</script>
<script src="app/orders.js"></script>